@using ComplaintManagement.Helpers
<div class="table-responsive">
    <table class="table f-14 border" id="dueTable" style="width:100%">
        @if (ViewBag.lstComplaintDue != null)
        {
            if (ViewBag.lstComplaintDue.Count > 0)
            {
                <thead>
                    <tr>
                        <td>LOS</td>
                        <td>Type</td>
                        <td>Category</td>
                        <td>Sub-Category</td>
                        <td>Created By</td>
                        <td>Created On</td>
                    </tr>
                </thead>
            }
        }
        <tbody>
            @if (ViewBag.lstComplaintDue != null)
            {
                if (ViewBag.lstComplaintDue.Count > 0)
                {
                    foreach (var item in ViewBag.lstComplaintDue)
                    {
                        <tr>
                            <td class="text-black"><strong id="@CryptoEngineUtils.Encrypt(Convert.ToString(item.ComplaintId),true)">@item.LOSName</strong></td>
                            <td class="text-black"><strong>@item.UserType</strong></td>
                            <td class="text-black"><strong>@item.Category</strong></td>
                            <td class="text-black"><strong>@item.SubCategory</strong></td>
                            <td class="text-black"><strong>@item.CreatedByName</strong></td>
                            <td class="text-black"><strong>@item.CreatedDate.ToString("dd/MM/yyyy")</strong></td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5"><label>No data found.</label></td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5"><label>No data found.</label></td>
                </tr>
            }
        </tbody>
    </table>
</div>