@using ComplaintManagement.ViewModel;
@using System.Security.Claims;
@using ComplaintManagement.Repository;
@using ComplaintManagement.Helpers;
@using Elmah;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CMS</title>
    @Scripts.Render("~/bundles/modernizr")

    <!-- Custom fonts for this template-->
    @Styles.Render("~/font-awesome/all")
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template-->
    @Styles.Render("~/sb-admin2/css")
    @Styles.Render("~/sb-admin2/styles")
    @* @Styles.Render("~/Content/css")*@
    @*@Styles.Render("~/Scripts/vendor/jquery-ui/jqueryuiStyles")*@
    @Styles.Render("~/plugins/toastrStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")

    <!-- Section for main scripts render -->
    @*@Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/sb-admin2/jquery")*@
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @*@Scripts.Render("~/plugins/dataTables")*@
    @*@Scripts.Render("~/sb-admin2/jquery")*@
    @Scripts.Render("~/sb-admin2/jquery")

    <!--<link href="css/helper.css" rel="stylesheet">-->


    @{
        string userRole = string.Empty;
        var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;
        if (claimsIdentity != null)
        {
            var c = claimsIdentity.FindFirst(System.Security.Claims.ClaimTypes.Name);
            var cI = claimsIdentity.FindFirst(System.Security.Claims.ClaimTypes.UserData);
            var userIDInfo = claimsIdentity.FindFirst(System.Security.Claims.ClaimTypes.Sid);
            var userRoleInfo = claimsIdentity.FindFirst(System.Security.Claims.ClaimTypes.Role);

            if (c != null && cI != null && userIDInfo != null && userRoleInfo != null)
            {
                userRole = userRoleInfo.Value;
                //user = c.Value.ToString();
                //userImage = cI.Value.ToString();
                //userId = Convert.ToInt32(userIDInfo.Value.ToString());
            }
        }
    }


    @*@{
            UserMasterVM userProfile = new UserMasterVM();
            int userId = 0;
            try
            {
                var identity = (ClaimsIdentity)User.Identity;
                userId = Convert.ToInt32(identity.Claims.Where(c => c.Type == ClaimTypes.Sid)
                       .Select(c => c.Value).SingleOrDefault());
                userProfile = new UserMastersRepository().Get(userId);
            }
            catch (Exception ex)
            {
                ErrorSignal.FromCurrentContext().Raise(ex);
            }
        }*@
</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-menu sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <li>
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                    <div class="sidebar-brand-icon rotate-n-15">
                    </div>
                    <div class="sidebar-brand-text mx-3">Compliant Management System</div>
                </a>
            </li>
            <!-- Divider -->
            <li>
                <hr class="sidebar-divider my-0">
            </li>
            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="/home/index">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <!-- Divider -->
            <li><hr class="sidebar-divider"></li>
            <!-- Heading -->
            <li>
                <div class="sidebar-heading">
                    Compliant
                </div>
            </li>
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Compliants</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="/Employee/Index">Employee</a>
                        <a class="collapse-item" href="/Compliant/Compliant_one">Compliant_one</a>
                        @{
                            if (userRole == Messages.HRUser)
                            {
                                <a class="collapse-item" href="/Compliant/ComplaintTwo_Index">Compliant_two</a>
                            }
                            else if (userRole == Messages.Committee)
                            {
                                <a class="collapse-item" href="/Compliant/ComplaintThree_Index">Compliant_three</a>
                            }
                            else
                            {
                                <a class="collapse-item" href="/Compliant/ComplaintTwo_Index">Compliant_two</a>
                                <a class="collapse-item" href="/Compliant/ComplaintThree_Index">Compliant_three</a>
                            }
                        }


                    </div>
                </div>
            </li>
            <!-- Divider -->
            <li> <hr class="sidebar-divider"></li>
            <!-- Heading -->
            <li>
                <div class="sidebar-heading">
                    Masters
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Masters</span>
                </a>
                <div id="collapseOne" class="collapse" aria-labelledby="collapseOne" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="/UserMaster/Index">
                            <span>User</span>
                        </a>
                        <a class="collapse-item" href="/Category/index">
                            <span>Category</span>
                        </a>
                        <a class="collapse-item" href="/subcategory/Index">
                            <span>Sub Category</span>
                        </a>
                        <a class="collapse-item" href="/designation/index">
                            <span>Designation</span>
                        </a>
                        <a class="collapse-item" href="/LOS/Index">
                            <span>LOS</span>
                        </a>
                        <a class="collapse-item" href="/SBU/Index">
                            <span>SBU</span>
                        </a>
                        <a class="collapse-item" href="/subsbu/Index">
                            <span>Sub SBU</span>
                        </a>
                        <a class="collapse-item" href="/competency/Index">
                            <span>Competency</span>
                        </a>
                        <a class="collapse-item" href="/location/Index">
                            <span>Location</span>
                        </a>
                        <a class="collapse-item" href="/entity/Index">
                            <span>Entity</span>
                        </a>
                        <a class="collapse-item" href="/region/Index">
                            <span>Region</span>
                        </a>
                        <a class="collapse-item" href="/role/Index">
                            <span>Role</span>
                        </a>
                        <a class="collapse-item" href="/committee/Index">
                            <span>Committee</span>
                        </a>
                    </div>
                </div>
            </li>
            <!-- Divider -->
            <li>
                <hr class="sidebar-divider d-none d-md-block">
            </li>
            <!-- Sidebar Toggler (Sidebar) -->
            <li class="text-center">
                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>
            </li>
        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        @RenderBody()
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/Account/LogOff">Logout</a>
                </div>
            </div>
        </div>
    </div>


    @*@Scripts.Render("~/bundles/bootstrap")*@
    @Scripts.Render("~/Assets/Common")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/sb-admin2/js")
    @Scripts.Render("~/plugins/dataTables")

    <!-- Bootstrap core JavaScript-->
    @Scripts.Render("~/sb-admin2/bootstrapbundle")
    <!-- Core plugin JavaScript-->
    @Scripts.Render("~/sb-admin2/Jqueryeasing")
    @Scripts.Render("~/plugins/toastr")
    @RenderSection("scripts", required: false)
    <!-- Custom scripts for all pages-->

</body>
</html>
