@using ComplaintManagement.Helpers
@using System
@using System.Globalization
@{
    var user = ""; var userImage = string.Empty;
    int userId = 0;
    var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;

    if (claimsIdentity != null)
    {
        var c = claimsIdentity.FindFirst(System.Security.Claims.ClaimTypes.Name);
        var cI = claimsIdentity.FindFirst(System.Security.Claims.ClaimTypes.UserData);
        var userIDInfo = claimsIdentity.FindFirst(System.Security.Claims.ClaimTypes.Sid);

        if (c != null && cI != null && userIDInfo != null)
        {

            user = c.Value.ToString();
            userImage = cI.Value.ToString();
            userId = Convert.ToInt32(userIDInfo.Value.ToString());
        }
    }
}
@{
    ViewBag.Title = "Index";
    dynamic data = Json.Decode(ViewBag.lstHistoryCommittee);
}

<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">
    @Html.Hidden("history", (object)ViewBag.name)
    <!-- Main Content -->
    <div id="content">
        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-header topbar mb-4 static-top shadow">
            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
            </button>
            <h4 class="text-white m-0">Masters</h4>
            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <form class="d-none d-sm-inline-block form-inline my-3 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" onkeypress="return searchKeyPress(event);" class="form-control bg-light border-0 pl-30 py-2 rounded-pill" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                            <i class="fas fa-search fa-sm" id="searchIcon"></i>
                        </div>
                    </form>
                </li>
          

                <!-- Nav Item - Alerts -->
                <li class="nav-item dropdown no-arrow mx-1">
                    <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-bell fa-fw text-white"></i>
                        <!-- Counter - Alerts -->
                        <span class="badge badge-danger badge-counter">3+</span>
                    </a>
                    <!-- Dropdown - Alerts -->
                    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                        <h6 class="dropdown-header">
                            Alerts Center
                        </h6>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="mr-3">
                                <div class="icon-circle bg-primary">
                                    <i class="fas fa-file-alt text-white"></i>
                                </div>
                            </div>
                            <div>
                                <div class="small text-gray-500">December 12, 2019</div>
                                <span class="font-weight-bold">A new monthly report is ready to download!</span>
                            </div>
                        </a>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="mr-3">
                                <div class="icon-circle bg-success">
                                    <i class="fas fa-donate text-white"></i>
                                </div>
                            </div>
                            <div>
                                <div class="small text-gray-500">December 7, 2019</div>
                                $290.29 has been deposited into your account!
                            </div>
                        </a>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="mr-3">
                                <div class="icon-circle bg-warning">
                                    <i class="fas fa-exclamation-triangle text-white"></i>
                                </div>
                            </div>
                            <div>
                                <div class="small text-gray-500">December 2, 2019</div>
                                Spending Alert: We've noticed unusually high spending for your account.
                            </div>
                        </a>
                        <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                    </div>
                </li>

                <div class="topbar-divider d-none d-sm-block"></div>

                <!-- Nav Item - User Information -->
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-white small">@user</span>
                        <img class="img-profile rounded-circle" src="@userImage">
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="/UserMaster/Edit?id=@userId&isView=false">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            Profile
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Logout
                        </a>
                    </div>
                </li>

            </ul>

        </nav>
        <!-- End of Topbar -->
        <!-- Begin Page Content -->
        <div class="container-fluid">
            <div class="preloader"></div>
            <div class="page-title">
                <h2 class="text-black">Committee History</h2>
            </div>
            
            <!-- Tab Bar -->
            <div class="user-list">
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="card mb-4 rounded-0 border-0">
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table f-14" id="myTable">
                                        <thead>
                                            <tr>
                                                <td class="text-center">User Name</td>
                                                <td class="text-center">Committee</td>
                                                <td class="text-center">Created Date</td>
                                                <td class="text-center">State</td>
                                                <td class="text-center">Created By</td>
                                                <td class="text-center">Modified Date</td>
                                                <td class="text-center">Modified By</td>
                                                <td class="text-center">Status</td>
                                                <td class="text-center">Action</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in data)
                                            {
                                            <tr>
                                                <td class="text-black text-center"><strong>@item.User</strong></td>
                                                <td class="text-black text-center"><strong>@item.CommitteeName</strong></td>
                                                <td class="text-black text-center">
                                                    <strong>
                                                        @if (item.CreatedDate != null)
                                                        {
                                                            var date = String.Format("{0}", item.CreatedDate.Substring(0, item.CreatedDate.IndexOf("T")).Replace("-", "/")).ToString();
                                                            @Html.Raw(DateTime
                                                        .ParseExact(date, "yyyy/MM/dd", CultureInfo.InvariantCulture)
                                                        .ToString("dd/MM/yyyy", CultureInfo.InvariantCulture));
                                                        }
                                                    </strong>
                                                </td>
                                                <td class="text-black text-center"><strong>@item.EntityState</strong></td>
                                                <td class="text-black text-center"><strong>@item.CreatedByName</strong></td>
                                                <td class="text-black text-center">
                                                    <strong>
                                                        @if (item.UpdatedDate != null)
                                                        {
                                                            var date = String.Format("{0}", item.UpdatedDate.Substring(0, item.UpdatedDate.IndexOf("T")).Replace("-", "/")).ToString();
                                                            @Html.Raw(DateTime
                                                        .ParseExact(date, "yyyy/MM/dd", CultureInfo.InvariantCulture)
                                                        .ToString("dd/MM/yyyy", CultureInfo.InvariantCulture));
                                                        }
                                                        else
                                                        {
                                                            @Html.Raw(Messages.NotAvailable.ToString())
                                                        }
                                                    </strong>
                                                </td>
                                                <td class="text-black text-center"><strong>@item.UpdatedByName</strong></td>

                                                <td class="text-black text-center">
                                                    <strong>
                                                        @if (item.Status == true)
                                                        {@Html.Raw("Active") }
                                                    else
                                                    { @Html.Raw("Inactive")}
                                                    </strong>
                                                </td>
                                            </tr>
                                            }

                                        </tbody>

                                    </table>
                                    <br />
                                    <table class="float-right" id="paginator" cellpadding="0" cellspacing="0">
                                        <tr>
                                            @for (int i = 1; i <= ViewBag.PageCount; i++)
                                            {
                                                <td>
                                                    <div class="pagination">
                                                        @if (i != ViewBag.CurrentPageIndex)
                                                        {
                                                            <a href="javascript:PagerClick(@i);">@i</a>
                                                        }
                                                        else
                                                        {
                                                            <span>@i</span>
                                                        }
                                                    </div>
                                                </td>
                                            }
                                        </tr>
                                    </table>
                                    <input type="hidden" id="hfCurrentPageIndex" name="currentPageIndex" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->
</div>
<!-- End of Content Wrapper -->
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="/Account/LogOff">Logout</a>
            </div>
        </div>
    </div>
</div>



@Scripts.Render("~/Assets/Common")
@Html.Partial("_CommonDeleteModal")
@Scripts.Render("~/Assets/CommitteeMasters")
<script>
    var pageLength=@ViewBag.PageIndex;
    var page = @ViewBag.Page;
</script>
