@using ComplaintManagement.Helpers
@{
    var user = ""; var userImage = string.Empty;
    int userId = 0;
    var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;

    if (claimsIdentity != null)
    {
        var c = claimsIdentity.FindFirst(System.Security.Claims.ClaimTypes.Name);
        var cI = claimsIdentity.FindFirst(System.Security.Claims.ClaimTypes.UserData);
        var userIDInfo = claimsIdentity.FindFirst(System.Security.Claims.ClaimTypes.Sid);

        if (c != null && cI != null && userIDInfo != null)
        {

            user = c.Value.ToString();
            userImage = cI.Value.ToString();
            userId = Convert.ToInt32(userIDInfo.Value.ToString());
        }
    }
}
@{
    ViewBag.Title = "Index";
}

<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-header topbar mb-4 static-top shadow">
            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
            </button>
            <h4 class="text-white m-0">Masters</h4>
            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <form class="d-none d-sm-inline-block form-inline my-3 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" onkeypress="return searchKeyPress(event);" class="form-control bg-light border-0 pl-30 py-2 rounded-pill" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                            <i class="fas fa-search fa-sm" id="searchIcon"></i>
                        </div>
                    </form>
                </li>
                <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                <li class="nav-item dropdown no-arrow d-sm-none">
                    <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-search fa-fw"></i>
                    </a>
                    <!-- Dropdown - Messages -->
                    <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                        <form class="form-inline mr-auto w-100 navbar-search">
                            <div class="input-group">
                                <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fas fa-search fa-sm"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>

                <!-- Nav Item - Alerts -->
                <li class="nav-item dropdown no-arrow mx-1">
                    <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-bell fa-fw text-white"></i>
                        <!-- Counter - Alerts -->
                        <span class="badge badge-danger badge-counter">3+</span>
                    </a>
                    <!-- Dropdown - Alerts -->
                    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                        <h6 class="dropdown-header">
                            Alerts Center
                        </h6>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="mr-3">
                                <div class="icon-circle bg-primary">
                                    <i class="fas fa-file-alt text-white"></i>
                                </div>
                            </div>
                            <div>
                                <div class="small text-gray-500">December 12, 2019</div>
                                <span class="font-weight-bold">A new monthly report is ready to download!</span>
                            </div>
                        </a>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="mr-3">
                                <div class="icon-circle bg-success">
                                    <i class="fas fa-donate text-white"></i>
                                </div>
                            </div>
                            <div>
                                <div class="small text-gray-500">December 7, 2019</div>
                                $290.29 has been deposited into your account!
                            </div>
                        </a>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="mr-3">
                                <div class="icon-circle bg-warning">
                                    <i class="fas fa-exclamation-triangle text-white"></i>
                                </div>
                            </div>
                            <div>
                                <div class="small text-gray-500">December 2, 2019</div>
                                Spending Alert: We've noticed unusually high spending for your account.
                            </div>
                        </a>
                        <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                    </div>
                </li>

                <div class="topbar-divider d-none d-sm-block"></div>

                <!-- Nav Item - User Information -->
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-white small">@user</span>
                        <img class="img-profile rounded-circle" src="@userImage">
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="/UserMaster/Edit?id=@userId&isView=false">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            Profile
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Logout
                        </a>
                    </div>
                </li>

            </ul>

        </nav>
        <!-- End of Topbar -->
        <!-- Begin Page Content -->
        <div class="container-fluid">
            <div class="preloader"></div>
            <div class="page-title">
                <h2 class="text-black">Entity Master</h2>
            </div>
            <div class="card mb-4 rounded-0 border-0">
                <div class="card-body">
                    <div class="row justify-content-between">
                        <div class="col-md-8">
                            <ul class="nav">
                                <li class="nav-item mr-3">
                                    <input type="date" id="fromDate" value="@ViewBag.startDate" class="form-control" placeholder="From Date" />
                                </li>
                                <li class="nav-item mr-3">
                                    <input type="date" id="toDate" value="@ViewBag.toDate" class="form-control" placeholder="To Date" />
                                </li>
                                <li class="nav-item">
                                    <button type="button" onclick="filterGrid()" class="btn btn-danger rounded-circle h-40p w-40p"><i class="fas fa-search"></i></button>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-2">
                            <ul class="nav">
                                <li class="nav-item mr-4">
                                    <a href="/Entity/Create" class="btn rounded-circle h-40p w-40p btn-outline-danger d-flex align-items-center"><i class="fas fa-plus"></i></a>
                                </li>
                                <li class="nav-item">
                                    <button type="submit" class="btn btn-outline-danger rounded-circle h-40p w-40p" data-toggle="modal" data-target="#uploadFile"><i class="fas fa-upload"></i></button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Tab Bar -->
            <div class="user-list">
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="card mb-4 rounded-0 border-0">
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="table-responsive" id="myTable">
                                    <table class="table f-14">
                                        <thead>
                                            <tr>
                                                <td class="text-center">Entity</td>
                                                <td class="text-center">Created Date</td>
                                                <td class="text-center">Created By</td>
                                                <td class="text-center">Modified Date</td>
                                                <td class="text-center">Modified By</td>
                                                <td class="text-center">Status</td>
                                                <td class="text-center">Action</td>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var item in ViewBag.lstEntity)
                                            {
                                            <tr>
                                                <td class="text-black text-center"><strong>@item.EntityName</strong></td>
                                                <td class="text-black text-center"><strong>@item.CreatedDate.ToShortDateString()</strong></td>
                                                <td class="text-black text-center"><strong>@item.CreatedByName</strong></td>
                                                <td class="text-black text-center">
                                                    <strong>
                                                        @if (item.UpdatedDate != null)
                                                        {
                                                            @Html.Raw(item.UpdatedDate.ToShortDateString())
                                                        }
                                                        else
                                                        {
                                                            @Html.Raw(Messages.NotAvailable.ToString())
                                                        }
                                                    </strong>
                                                </td>
                                                <td class="text-black text-center"><strong>@item.UpdatedByName</strong></td>
                                                <td class="text-black text-center">
                                                    <strong>
                                                        @if (item.Status == true)
                                                        {@Html.Raw("Active") }
                                                    else
                                                    { @Html.Raw("Inactive")}
                                                    </strong>
                                                </td>
                                                <td class="text-center">
                                                    <a href="javascript:void(0)" onclick="performAction('@item.Id',false)" data-id="@item.Id" class="mr-2"><i class="fas fa-edit text-danger"></i></a>
                                                    <a href="javascript:void(0)" onclick="deleteEntity('@item.Id')" data-id="@item.Id" class="mr-2"><i class="fas fa-trash-alt text-danger"></i></a>
                                                    <a href="javascript:void(0)" onclick="performAction('@item.Id',true)" data-id="@item.Id"><i class="fas fa-clock text-danger"></i></a>
                                                </td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                    <br />
                                    <table class="float-right" id="paginator" cellpadding="0" cellspacing="0">
                                        <tr>
                                            @for (int i = 1; i <= ViewBag.PageCount; i++)
                                            {
                                                <td>
                                                    <div class="pagination">
                                                        @if (i != ViewBag.CurrentPageIndex)
                                                        {
                                                            <a href="javascript:PagerClick(@i);">@i</a>
                                                        }
                                                        else
                                                        {
                                                            <span>@i</span>
                                                        }
                                                    </div>
                                                </td>
                                            }
                                        </tr>
                                    </table>
                                    <input type="hidden" id="hfCurrentPageIndex" name="currentPageIndex" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->
</div>
<!-- End of Content Wrapper -->
    </div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="/Account/LogOff">Logout</a>
            </div>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" id="uploadFile">
    <div class="modal-dialog modal-lg">
        <div class="modal-content border-0 rounded-0">
            <span class="close-modal" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </span>
            <div class="modal-body">
                <label class="d-block file-upload mb-3">Upload File</label>
                <div class="row">
                    <div class="col-md-9">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" onclick="this.value = null" class="custom-file-input" id="excelFile" data-ketan="" aria-describedby="inputGroupFileAddon01">
                                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <a class="btn btn-danger btn-user btn-sm" id="btnUpload">Upload</a>
                        <a href="/Entity/Index" class="btn bg-white border btn-user btn-sm">Cancel</a>
                    </div>
                    <a href="/Files/DownloadFile?filePath=/Imports/Samples/Entity/Entity.xlsx" class="ml-3 mt-n2">Download Sample</a>
                    <label id="lblError" class="ml-n5 mt-5 adderror"></label>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/Assets/Common")
@Html.Partial("_CommonDeleteModal")
@Scripts.Render("~/Assets/EntityMasters")
<script>
    var pageLength=@ViewBag.PageIndex;
    var page = @ViewBag.Page;
</script>