@model ComplaintManagement.ViewModel.LoginVM
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CMS - Login</title>

    <!-- Custom fonts for this template-->


    @Styles.Render("~/font-awesome/all")
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    @Styles.Render("~/sb-admin2/css")
    @Styles.Render("~/sb-admin2/styles")

</head>

<body class="">

    <div class="container">
        <div class="preloader"></div>

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h1 mb-4 text-left newcolor">CMS</h1>
                                    </div>
                                    <form class="user" data-url="@ViewBag.ReturnUrl" id="myForm">
                                        <div class="form-group">
                                            <h6>User ID</h6>
                                            @Html.TextBoxFor(m => m.Email, new { autocomplete = "off", placeholder = "Enter Email Id", @class = "form-control form-control-user required", @type = "email" })

                                        </div>
                                        <div class="form-group">
                                            <h6>Password</h6>
                                            @Html.PasswordFor(m => m.Password, new { autocomplete = "off", placeholder = "Password", @class = "form-control form-control-user required" })


                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                                <label class="custom-control-label" for="customCheck">Remember Me</label>
                                            </div>
                                        </div>
                                        <a href="javascript:void(0)" id="btn-submit" class="btn btn-primary btn-user btn-newlog newcolorbg">
                                            Login
                                        </a>

                                        <label id="lblError"></label>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->

    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/sb-admin2/bootstrapbundle")

    <!-- Core plugin JavaScript-->

    @Scripts.Render("~/sb-admin2/Jqueryeasing")

    <!-- Custom scripts for all pages-->

    @Scripts.Render("~/sb-admin2/js")
    @Scripts.Render("~/Assets/Login")

</body>

</html>
