@using ComplaintManagement.Helpers
@model ComplaintManagement.ViewModel.LOSMasterVM
@{
    var user = ""; var userImage = string.Empty;
    int userId = 0;
    var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;

    if (claimsIdentity != null)
    {
        var c = claimsIdentity.FindFirst(System.Security.Claims.ClaimTypes.Name);
        var cI = claimsIdentity.FindFirst(System.Security.Claims.ClaimTypes.UserData);
        var userIDInfo = claimsIdentity.FindFirst(System.Security.Claims.ClaimTypes.Sid);

        if (c != null && cI != null && userIDInfo != null)
        {

            user = c.Value.ToString();
            userImage = cI.Value.ToString();
            userId = Convert.ToInt32(userIDInfo.Value.ToString());
        }
    }
    ViewBag.Title = "Manage LOS";
}
@Styles.Render("~/Content/plugins/select2/select2Styles")
<!-- Content Wrapper -->
@Html.Hidden("pageState", (object)ViewBag.ViewState)
<div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-header topbar mb-4 static-top shadow">
            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
            </button>
            <h4 class="text-white m-0">Masters</h4>
            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <form class="d-none d-sm-inline-block form-inline my-3 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 pl-30 py-2 rounded-pill" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                            <i class="fas fa-search fa-sm" id="searchIcon"></i>
                        </div>
                    </form>
                </li>
                <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                <li class="nav-item dropdown no-arrow d-sm-none">
                    <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-search fa-fw"></i>
                    </a>
                    <!-- Dropdown - Messages -->
                    <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                        <form class="form-inline mr-auto w-100 navbar-search">
                            <div class="input-group">
                                <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fas fa-search fa-sm"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>

                <!-- Nav Item - Alerts -->
                <li class="nav-item dropdown no-arrow mx-1">
                    <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-bell fa-fw text-white"></i>
                        <!-- Counter - Alerts -->
                        <span class="badge badge-danger badge-counter">3+</span>
                    </a>
                    <!-- Dropdown - Alerts -->
                    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                        <h6 class="dropdown-header">
                            Alerts Center
                        </h6>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="mr-3">
                                <div class="icon-circle bg-primary">
                                    <i class="fas fa-file-alt text-white"></i>
                                </div>
                            </div>
                            <div>
                                <div class="small text-gray-500">December 12, 2019</div>
                                <span class="font-weight-bold">A new monthly report is ready to download!</span>
                            </div>
                        </a>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="mr-3">
                                <div class="icon-circle bg-success">
                                    <i class="fas fa-donate text-white"></i>
                                </div>
                            </div>
                            <div>
                                <div class="small text-gray-500">December 7, 2019</div>
                                $290.29 has been deposited into your account!
                            </div>
                        </a>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="mr-3">
                                <div class="icon-circle bg-warning">
                                    <i class="fas fa-exclamation-triangle text-white"></i>
                                </div>
                            </div>
                            <div>
                                <div class="small text-gray-500">December 2, 2019</div>
                                Spending Alert: We've noticed unusually high spending for your account.
                            </div>
                        </a>
                        <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                    </div>
                </li>

                <div class="topbar-divider d-none d-sm-block"></div>

                <!-- Nav Item - User Information -->
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-white small">@user</span>
                        <img class="img-profile rounded-circle" src="@userImage">
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="/UserMaster/Edit?id=@CryptoEngineUtils.Encrypt(Convert.ToString(userId),true)&isView=false">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            Profile
                        </a>
                        <div class="dropdown-divider"></div>
                        `                 <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Logout
                        </a>
                    </div>
                </li>

            </ul>

        </nav>
        <!-- End of Topbar -->
        <!-- Begin Page Content -->
        @if (ViewBag.ViewState != null && ViewBag.ViewState == true)
        {
            <a href="/LOS/Index" class="btn btn-danger ml-4">&laquo; Back</a> <br /><br />
        }
        <div class="container-fluid">
            <div class="page-title mb-3">
                <h2 class="text-black">@ViewBag.Pagetype LOS Master</h2>
            </div>
            <!-- Tab Bar -->
            <div class="row">
                <div class="preloader"></div>
                <div class="col-xl-12 col-lg-8">
                    <div class="card shadow mb-4">
                        <!-- Card Body -->
                        <div class="card-body">
                            <form id="myForm" class="m-t" role="form" action="javascript:;">

                                <input type="hidden" value="@Model.Id" id="Id" />
                                <div class="form-group row">
                                    <div class="col-sm-9 mb-3">
                                        @Html.LabelFor(model => model.LOSName, new { @class = "requiredLabel" })
                                        @Html.EditorFor(model => model.LOSName, new { htmlAttributes = new { @class = "form-control form-control-user required", @placeholder = "LOS", @onfocusout = "checkDuplicate()" } })
                                        <hr />
                                    </div>
                                    <div class="col-sm-9 mb-3">
                                        @Html.Hidden("sbuIds", Model.SBUId)
                                        @Html.LabelFor(model => model.SBUId)

                                        <div class="container">
                                            <div class="row justify-content-md-right">
                                                <div class="col col-lg-6">
                                                    @{
                                                        foreach (var priv in ViewBag.lstSBU)
                                                        {
                                                            <label class="checkbox-inline"><input name="sbuList" id="@string.Format("sbu-"+priv.Value)" type="checkbox" value="@priv.Value" class="checks-sbu">&nbsp; @priv.Text</label>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <label id="lblErrorSbu" class="inline"></label><hr />
                                    </div>

                                    <div class="col-sm-9 mb-3">
                                        @Html.Hidden("SubsbuIds", Model.SubSBUId)
                                        @Html.LabelFor(model => model.SubSBUId)

                                        <div class="container">
                                            <div class="row justify-content-md-right">
                                                <div class="col col-lg-6">
                                                    @{
                                                        foreach (var priv in ViewBag.lstSubSBU)
                                                        {
                                                            <label class="checkbox-inline"><input name="subsbuList" id="@string.Format("subsbu-"+priv.Value)" type="checkbox" value="@priv.Value" class="checks-subsbu">&nbsp; @priv.Text</label>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <label id="lblErrorSubSbu" class="inline"></label><hr />
                                    </div>


                                    <div class="col-sm-9 mb-3">
                                        @Html.Hidden("CompentencyIds", Model.CompetencyId)
                                        @Html.LabelFor(model => model.CompetencyId)

                                        <div class="container">
                                            <div class="row justify-content-md-right">
                                                <div class="col col-lg-6">
                                                    @{
                                                        foreach (var priv in ViewBag.lstCompetency)
                                                        {
                                                            <label class="checkbox-inline"><input name="CompetencyList" id="@string.Format("Competency-"+priv.Value)" type="checkbox" value="@priv.Value" class="checks-Competency">&nbsp; @priv.Text</label>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <label id="lblErrorCompetency" class="inline"></label>
                                        <hr />
                                    </div>


                                    <div class="col-sm-9 mb-3 mb-sm-0">
                                        @Html.LabelFor(model => model.Status, new { @class = "requiredLabel" })
                                        @{
                                            List<SelectListItem> listItems = new List<SelectListItem>();
                                            listItems = new List<SelectListItem>();
                                            listItems.Add(new SelectListItem
                                            {
                                                Text = "Active",
                                                Value = "true"
                                            });
                                            listItems.Add(new SelectListItem
                                            {
                                                Text = "Inactive",
                                                Value = "false"
                                            });
                                        }
                                        <div>
                                            @Html.DropDownListFor(model => model.Status, (List<SelectListItem>)listItems, new { @class = "form-control required" })
                                        </div>
                                    </div>

                                    <div class="col-sm-12 text-right">
                                        <a href="javascript:void(0)" onclick="submitForm()" class="btn btn-danger">Save</a>
                                        <a href="/LOS/Index" class="btn btn-white border">Cancel</a>
                                        <label id="lblError" class="inline"></label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->
</div>
<!-- End of Content Wrapper -->
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="/Account/LogOff">Logout</a>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/Assets/EditLOSMasters")
