@using ComplaintManagement.Helpers
@model ComplaintManagement.ViewModel.UserMasterVM
@{
    ViewBag.Title = "HR Complaint";
    ViewBag.heading = "Complaint";
    string saltedId = CryptoEngineUtils.Encrypt(Convert.ToString(Model.Id), true);
    var hrRoleDateOfJoin = ViewBag.HrRoleData.DateOfJoining;
    var involveuserid = Model.InvolvedUsersId;

}
<link href="~/Content/fSelect.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/fSelect.js"></script>


@*@Styles.Render("~/Content/plugins/select2/select2Styles")
    @Scripts.Render("~/plugins/select2")*@


    @Html.Hidden("pageState", (object)ViewBag.ViewState)

    @Html.Hidden("UserId", Model.CompentencyId)
    @Html.Hidden("Id", Model.ComplaintId)
    @Html.Hidden("HrRoleId", (object)ViewBag.HrRole.Id)
    @Html.Hidden("ComplaintStatus", Model.ComplaintStatus)
    @Html.Hidden("DueDate", Model.DateOfJoining)

    <!-- Begin Page Content -->
    <div class="container-fluid">
        <div class="page-title mb-3">
            <h2 class="text-black">Complaint Information</h2>
        </div>
        <!-- Tab Bar -->
        <div class="row">
            <div class="col-xl-4 col-lg-5">
                <div class="card shadow mb-4 rounded-0 border-0 min-h-365">
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="text-center form-group">
                            @*<i class="far fa-user-circle f-s-100 text-danger f-111"></i>*@
                            <img src="@(!string.IsNullOrEmpty(Model.ImagePath)? "/Images/profile_pics/"+Model.ImagePath : "/Images/profile.png")" class="img-preview-profile" />
                        </div>
                        <div class="text-center">
                            <h3 class="text-black font-weight-bold f-20 mt-3">@Model.EmployeeName</h3>
                            @*<p class="text-danger">PRC0053</p>*@
                            <div class="row form-group mt-4">
                                <div class="col-md-6 border-right">
                                    <p class="text-black mb-2">@Model.Gender</p>
                                    <span>Gender</span>
                                </div>
                                <div class="col-md-6">
                                    <p class="text-black mb-2">@Model.Age</p>
                                    <span>Age</span>
                                </div>
                            </div>
                            <p class="text-black f-20 font-weight-bold mt-4 mb-0">@Model.WorkEmail</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 col-lg-7">
                <div class="card shadow mb-4 rounded-0 border-0 min-h-365">
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <label>Time Type</label>
                                <p class="text-black font-weight-bold m-0">+@Model.TimeType</p>
                            </div>
                            <div class="col-sm-4">
                                <label>Management Level</label>
                                <p class="text-black font-weight-bold m-0">@ViewBag.ManagementLevel</p>
                            </div>
                            <div class="col-sm-4">
                                <label>Entity</label>
                                <p class="text-black font-weight-bold m-0">@ViewBag.Entity</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-4 mb-3 mb-sm-0">
                                <label>LOS</label>
                                <p class="text-black font-weight-bold m-0">@ViewBag.LOS</p>
                            </div>
                            <div class="col-sm-4">
                                <label>SBU</label>
                                <p class="text-black font-weight-bold m-0">@ViewBag.SBU</p>
                            </div>
                            <div class="col-sm-4">
                                <label>Sub SBU</label>
                                <p class="text-black font-weight-bold m-0">@ViewBag.SubSBU</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-4">
                                <label>Competency</label>
                                <p class="text-black font-weight-bold m-0">@ViewBag.Competency</p>
                            </div>
                            <div class="col-sm-4">
                                <label>Location</label>
                                <p class="text-black font-weight-bold m-0">@ViewBag.Location</p>
                            </div>
                            <div class="col-sm-4">
                                <label>Region</label>
                                <p class="text-black font-weight-bold m-0">@ViewBag.Region</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-4">
                                <label>Date of Joining</label>
                                <p class="text-black font-weight-bold m-0">
                                    @if (Model.DateOfJoining.HasValue)
                                    {
                                        var date = String.Format("{0}", Model.DateOfJoining.Value.ToString("dd/MM/yyyy"));
                                        @Html.Raw(date);
                                    }
                                    else
                                    {
                                        @Html.Raw("N/A");
                                    }
                                </p>
                            </div>
                            <div class="col-sm-4">
                                <label>Mobile No.</label>
                                <p class="text-black font-weight-bold m-0">@Model.MobileNo</p>
                            </div>
                            <div class="col-sm-4">
                                <label>Manager</label>
                                <p class="text-black font-weight-bold m-0">@Model.Manager</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card shadow mb-4 rounded-0 border-0">
            <!-- Card Body -->
            <div class="card-body">
                <form>
                    <div class="row form-group">
                        <div class="col-md-4">
                            <label>Category</label>
                            <p class="text-black font-weight-bold m-0">@ViewBag.CategoryName</p>
                        </div>
                        <div class="col-md-4">
                            <label>Sub Category</label>
                            <p class="text-black font-weight-bold m-0">@ViewBag.SubCategoryName</p>
                        </div>
                        <div class="col-md-4">
                            <label>Remarks</label>
                            <p class="text-black font-weight-bold m-0">@Model.Remark</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row form-group">
                        <div class="col-md-4">
                            <label>Attachment</label>
                            <p class="text-black font-weight-bold m-0">
                                @if (!string.IsNullOrEmpty(@Model.Attachments) && @Model.Attachments.Length > 5)
                                {
                                    <strong>
                                        <a href="/Compliant/DownloadAttachments?files=@Model.Attachments&Id=@Model.ComplaintId&redirectTo=2">
                                            <i class="fas fa-download fa-fw"></i>
                                        </a>
                                    </strong>
                                }
                                else
                                {
                                    @Html.Raw(Messages.NotAvailable.ToString())
                                }
                            </p>
                        </div>
                    </div>
                    <hr>
                    <!--<div class="text-right">
                        <a href="/Account/LogOff" class="btn btn-danger btn-md">Save</a>
                        <a href="/Account/LogOff" class="btn btn-white border btn-md">Submit</a>
                        <a href="/Account/LogOff" class="btn btn-white border btn-md">Cancel</a>
                    </div>-->
                </form>
            </div>
        </div>
        <div class="page-title mb-3">
            <h2 class="text-black">BHU Information</h2>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-5">
                <div class="card shadow mb-4 rounded-0 border-0 min-h-365">
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="text-center form-group">
                            <i class="far fa-user-circle f-s-100 text-danger f-111"></i>
                        </div>
                        <div class="text-center">
                            <h3 class="text-black font-weight-bold f-20 mt-3">@ViewBag.HrRoleData.EmployeeName</h3>
                            @*<p class="text-danger">PRC0053</p>*@
                            <div class="row form-group mt-4">
                                <div class="col-md-6 border-right">
                                    <p class="text-black mb-2">@ViewBag.HrRoleData.Gender</p>
                                    <span>Gender</span>
                                </div>
                                <div class="col-md-6">
                                    <p class="text-black mb-2">@ViewBag.HrRoleData.Age</p>
                                    <span>Age</span>
                                </div>
                            </div>
                            <p class="text-black f-20 font-weight-bold mt-4 mb-0">@ViewBag.HrRoleData.WorkEmail</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 col-lg-7">
                <div class="card shadow mb-4 rounded-0 border-0 min-h-365">
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <label>Time Type</label>
                                <p class="text-black font-weight-bold m-0">+ViewBag.HrRoleData.TimeType</p>
                            </div>
                            <div class="col-sm-4">
                                <label>Management Level</label>
                                <p class="text-black font-weight-bold m-0">@ViewBag.HrRoleManagementLevel</p>
                            </div>
                            <div class="col-sm-4">
                                <label>Entity</label>
                                <p class="text-black font-weight-bold m-0">@ViewBag.HrRoleEntity</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-4 mb-3 mb-sm-0">
                                <label>LOS</label>
                                <p class="text-black font-weight-bold m-0">@ViewBag.HrRoleLOS</p>
                            </div>
                            <div class="col-sm-4">
                                <label>SBU</label>
                                <p class="text-black font-weight-bold m-0">@ViewBag.HrRoleSBU</p>
                            </div>
                            <div class="col-sm-4">
                                <label>Sub SBU</label>
                                <p class="text-black font-weight-bold m-0">@ViewBag.HrRoleSubSBU</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-4">
                                <label>Competency</label>
                                <p class="text-black font-weight-bold m-0">@ViewBag.Competency</p>
                            </div>
                            <div class="col-sm-4">
                                <label>Location</label>
                                <p class="text-black font-weight-bold m-0">@ViewBag.HrRoleLocation</p>
                            </div>
                            <div class="col-sm-4">
                                <label>Region</label>
                                <p class="text-black font-weight-bold m-0">@ViewBag.HrRoleRegion</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-4">
                                <label>Date of Joining</label>
                                <p class="text-black font-weight-bold m-0">
                                    @if (hrRoleDateOfJoin != null)
                                    {
                                        var date = String.Format("{0}", hrRoleDateOfJoin.ToString("dd/MM/yyyy"));

                                        @Html.Raw(date);
                                    }
                                    else
                                    {
                                        @Html.Raw("N/A");
                                    }
                                </p>
                            </div>
                            <div class="col-sm-4">
                                <label>Mobile No.</label>
                                <p class="text-black font-weight-bold m-0">@ViewBag.HrRoleData.MobileNo</p>
                            </div>
                            <div class="col-sm-4">
                                <label>Manager</label>
                                <p class="text-black font-weight-bold m-0">@ViewBag.HrRoleData.Manager</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card shadow mb-4 rounded-0 border-0">
            <!-- Card Body -->
            <div class="card-body">
                <form>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label>Remark</label>
                            <p class="text-black font-weight-bold m-0">@ViewBag.HrRole.Remark</p>
                        </div>
                        <div class="col-md-6">
                            <label>Attachment</label>
                            <p class="text-black font-weight-bold m-0">
                                @if (!string.IsNullOrEmpty(@ViewBag.HrRole.Attachement) && @ViewBag.HrRole.Attachement.Length > 5)
                                {
                                    <strong>
                                        <a href="/Compliant/DownloadAttachments?files=@ViewBag.HrRole.Attachement&Id=@Model.ComplaintId&redirectTo=2">
                                            <i class="fas fa-download fa-fw"></i>
                                        </a>
                                    </strong>
                                }
                                else
                                {
                                    @Html.Raw(Messages.NotAvailable.ToString())
                                }
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label>Case Type</label>
                            <p class="text-black font-weight-bold m-0">@ViewBag.HrRoleCaseType</p>
                        </div>
                        <div class="col-md-6">
                            <label>Involved Users</label>
                            <p class="text-black font-weight-bold m-0">@ViewBag.HrRoleInvolvedUsers</p>
                        </div>
                    </div>
                    <hr>
                </form>
            </div>
        </div>
        <div class="page-title mb-3">
            <h2 class="text-black">History</h2>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="card shadow mb-4 rounded-0 border-0">
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table text-black m-0">
                                @if (ViewBag.lstComplaintHistory != null)
                                {
                                    if (ViewBag.lstComplaintHistory.Count > 0)
                                    {
                                        <thead>
                                            <tr>
                                                <td class="border-top-0">Created By</td>
                                                <td class="border-top-0">Created On</td>
                                                <td class="border-top-0">Remarks</td>
                                                <td class="border-top-0">Type</td>
                                                <td class="border-top-0">Action</td>
                                            </tr>
                                        </thead>
                                    }
                                }
                                <tbody>
                                    @if (ViewBag.lstComplaintHistory != null)
                                    {
                                        if (ViewBag.lstComplaintHistory.Count > 0)
                                        {
                                            foreach (var item in ViewBag.lstComplaintHistory)
                                            {
                                    <tr>
                                        <td class="text-black"><strong>@item.CreatedByName</strong></td>
                                        <td class="text-black"><strong>@item.CreatedDate.ToString("dd/MM/yyyy")</strong></td>
                                        <td class="text-black"><strong>@item.Remarks</strong></td>
                                        <td class="text-black"><strong>@item.UserType</strong></td>
                                        @{
                                            <td class="text-black">
                                                <strong>
                                                    @if (item.ActionType == Messages.Opened || item.ActionType == "Save")
                                                    {
                                                        @Html.Raw(Messages.Draft.ToString())
                                                    }
                                                    else
                                                    {
                                                        @item.ActionType
                                                    }

                                                </strong>
                                            </td>
                                        }
                                    </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="5"><label>No data found.</label></td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="5"><label>No data found.</label></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card shadow mb-4 rounded-0 border-0">
            <!-- Card Body -->
            <div class="card-body">
                <form id="myForm">
                    <div class="row form-group">
                        <div class="col-md-8">
                            @Html.LabelFor(c => c.RemarkCommittee, new { @class = "requiredLabel" })
                            @Html.TextAreaFor(c => c.RemarkCommittee, new { @class = "form-control required" })
                        </div>
                    </div>
                    <div class="form-group" id="form-attachement">
                        @Html.Label("Attachments")
                        <div class="row">
                            <div class="col-md-8">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="attachementFile">
                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <a href="javascript:void(0)" onclick="addAttachement()" class="btn btn-danger rounded-circle btn-sm">
                                    <i class="fas fa-plus"></i>
                                </a>
                            </div>
                            <div class="row col-md-12">
                                @if (!string.IsNullOrEmpty(Model.AttachmentsCommittee))
                                {
                                    @*<br /> <br />*@
                                    if (Model.AttachmentsCommittee.Contains(","))
                                    {

                                        string[] array = Model.AttachmentsCommittee.Split(',');
                                        foreach (var item in array)
                                        {
                                            if (item.Length > 3)
                                            {
                                                <div id="file_@item" class="col-md-12" style="margin-top:5px;height:28px;">
                                                    @*<br /> <br />*@
                                                    <a href="/Files/DownloadFile?filePath=/Documents/@item" class="btn border-0 p-0">  @item </a>&nbsp;&nbsp;<span class="fa fa-times-circle fa-lg closeBtn" onclick="removeFile('@item','@Model.ComplaintId')" title="remove"></span>
                                                </div>
                                            }
                                        }
                                    }

                                    else
                                    {
                                        <div id="file_@Model.AttachmentsCommittee" class="col-md-12" style="margin-top:5px;height:28px;">

                                            <a href="/Files/DownloadFile?filePath=/Documents/@Model.AttachmentsCommittee" class="btn border-0 p-0">  @Model.AttachmentsCommittee </a> &nbsp; &nbsp;<span class="fa fa-times-circle fa-lg closeBtn" onclick="removeFile('@Model.AttachmentsCommittee','@Model.ComplaintId')" title="remove"></span>
                                        </div>
                                        @*<br /> <br />*@
                                    }
                                }
                            </div>
                        </div>
                        @*<div class="row col-md-12">*@

                        @*</div>*@
                    </div>
                    <div class="row form-group">
                        <div class="col-md-8">
                            @*<label>Case Type</label>*@
                            @*<select class="form-control"></select>*@
                            @Html.Label("Case Type", new { @class = "requiredLabel" })

                            @{
                                var listCashType = new List<SelectListItem>();
                                listCashType.Add(new SelectListItem { Text = "Actionable", Value = "Actionable" });
                                listCashType.Add(new SelectListItem { Text = "Non Actionable", Value = "NonActionable" });
                            }

                            @Html.DropDownList("CashTypeId", (List<SelectListItem>)listCashType, new { @class = "form-control required" })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-8 multipleddldiv">
                            @Html.Label("Involved Users", new { @class = "requiredLabel" })
                            @{
                                List<SelectListItem> listInvolvedUsers = new List<SelectListItem>();
                                listInvolvedUsers = new List<SelectListItem>();
                                listInvolvedUsers.Add(new SelectListItem
                                {
                                    Text = "",
                                    Value = ""
                                });
                                listInvolvedUsers.AddRange(ViewBag.InvolvedUsers);
                            }
                            <br />
                            @Html.DropDownList("InvolvedUsersId", (List<SelectListItem>)listInvolvedUsers, new { @class = "form-control multipleddl required", multiple = "multiple" })
                        </div>
                    </div>
                    <div class="text-right">
                        <a href="javascript:void(0)" id="btnBackToBUHCSave" onclick="submitBackToBUHCForm()" class="btn btn-danger btn-md">Back to BUHC</a>
                        <a href="javascript:void(0)" id="btnSave" onclick="submitForm()" class="btn btn-danger btn-md">Save</a>
                        <a href="javascript:void(0)" id="btnBackSave" onclick="submitBackForm()" class="btn btn-danger btn-md">Back</a>
                        <label id="lblError" class="adderror"></label>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->


    @Scripts.Render("~/Assets/EditEmployeeCompliant_ThreeMasters")
    @Html.Partial("_CommonDeleteModal")
    @Scripts.Render("~/Assets/Common")

    <script>
    $(document).ready(function () {

        //$(".multipleddl").select2( {
        //    maximumSelectionSize: 4
        //});


            console.log(@involveuserid);
            var involveid = "@involveuserid";
            var selectedOptions = involveid.split(',');

            for(var i in selectedOptions) {
                var optionVal = selectedOptions[i];
                //alert($(".multipleddl").find("option[value=" + optionVal + "]").html());
                $(".multipleddldiv").find("div[data-value=" + optionVal + "]").addClass("selected");
                $(".multipleddl").find("option[value=" + optionVal + "]").attr("selected","selected");
            }

        //$('.multipleddl').fSelect('refresh');

    })
    </script>
