@using ComplaintManagement.Helpers
@using System
@using System.Globalization
@{
    var user = ""; var userImage = string.Empty;
    int userId = 0;
    var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;

    if (claimsIdentity != null)
    {
        var c = claimsIdentity.FindFirst(System.Security.Claims.ClaimTypes.Name);
        var cI = claimsIdentity.FindFirst(System.Security.Claims.ClaimTypes.UserData);
        var userIDInfo = claimsIdentity.FindFirst(System.Security.Claims.ClaimTypes.Sid);

        if (c != null && cI != null && userIDInfo != null)
        {

            user = c.Value.ToString();
            userImage = cI.Value.ToString();
            userId = Convert.ToInt32(userIDInfo.Value.ToString());
        }
    }
    ViewBag.Title = "User master histories";
    dynamic data = Json.Decode(ViewBag.lstUserHistory);
}
<!-- Page Wrapper -->
@Html.Hidden("history", (object)ViewBag.name)

<!-- Content Wrapper -->

        <!-- Begin Page Content -->
        <a href="/UserMaster/Index" class="btn btn-danger ml-4">&laquo; Back</a> <br /><br />
      
            <div class="preloader"></div>
            <div class="page-title">
                <h2 class="text-black">User History</h2>
            </div>
            <div class="card mb-4 rounded-0 border-0">
                <div class="card-body">
                    <div class="row justify-content-between">
                        <div class="col-md-8">
                            <ul class="nav">
                                <li class="nav-item">
                                    <button type="button" class="btn btn-danger rounded-circle h-40p w-40p" onclick="location.href='@Url.Action("ExportDataHistory", "UserMaster", new {id = ViewBag.name})'"><i class="fas fa-file-excel"></i></button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Tab Bar -->
            <div class="user-list">
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="card mb-4 rounded-0 border-0">
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table f-14" id="myTable">
                                        <thead>
                                            <tr>
                                                <td>Employee Name</td>
                                                <td>Created Date</td>
                                                @*   <td>Created By</td>*@
                                                @*<td>Modified Date</td>*@
                                                @* <td>Modified By</td>*@
                                                <td>Status</td>
                                                <td>Created By</td>
                                                <td>Time Type</td>
                                                <td>Business Title</td>
                                                <td>Entity State</td>
                                                <td>Company</td>
                                                <td>LOS</td>
                                                <td>SBU</td>
                                                <td>Sub-SBU</td>
                                                <td>Competency</td>
                                                <td>Region</td>
                                                <td>Manager</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in data)
                                            {
                                                <tr>
                                                    <td class="text-black text-center"><strong>@item.EmployeeName</strong></td>
                                                    <td class="text-black text-center">
                                                        <strong>
                                                            @if (item.CreatedDate != null)
                                                            {
                                                                var date = String.Format("{0}", item.CreatedDate.Substring(0, item.CreatedDate.IndexOf("T")).Replace("-", "/")).ToString();
                                                                @Html.Raw(DateTime
                                                            .ParseExact(date, "yyyy/MM/dd", CultureInfo.InvariantCulture)
                                                            .ToString("dd/MM/yyyy", CultureInfo.InvariantCulture));
                                                            }
                                                        </strong>
                                                    </td>
                                                    @*<td class="text-black text-center"><strong>@item.CreatedByName</strong></td>*@
                                                    @*<td class="text-black text-center">
                                                            <strong>
                                                                @if (item.UpdatedDate != null)
                                                                {
                                                                    @Html.Raw(String.Format("{0}", item.UpdatedDate.Substring(0, item.UpdatedDate.IndexOf("T"))))
                                                                }
                                                                else
                                                                {
                                                                    @Html.Raw(Messages.NotAvailable.ToString())
                                                                }
                                                            </strong>
                                                        </td>*@
                                                    @*<td class="text-black text-center"><strong>@item.UpdatedByName</strong></td>*@
                                                    <td class="text-black text-center">
                                                        <strong>
                                                            @if (item.Status == true)
                                                            {@Html.Raw("Active") }
                                                        else
                                                        { @Html.Raw("Inactive")}
                                                        </strong>
                                                    </td>
                                                    <td class="text-black text-center pl-2"><strong>@item.CreatedByName</strong></td>

                                                    <td class="text-black text-center"><strong>@item.TimeType</strong></td>
                                                    <td class="text-black text-center"><strong>@item.BusinessTitle</strong></td>
                                                    <td class="text-black text-center"><strong>@item.EntityState</strong></td>
                                                    <td class="text-black text-center"><strong>@item.Company</strong></td>
                                                    <td class="text-black text-center"><strong>@item.LOS</strong></td>
                                                    <td class="text-black text-center"><strong>@item.SBU</strong></td>
                                                    <td class="text-black text-center"><strong>@item.SubSBU</strong></td>
                                                    <td class="text-black text-center"><strong>@item.Competency</strong></td>
                                                    <td class="text-black text-center"><strong>@item.Region</strong></td>
                                                    <td class="text-black text-center"><strong>@item.Manager</strong></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <br />
                                <table class="float-right" id="paginator" cellpadding="0" cellspacing="0">
                                    <tr>
                                        @for (int i = 1; i <= ViewBag.PageCount; i++)
                                        {
                                            <td>
                                                <div class="pagination">
                                                    @if (i != ViewBag.CurrentPageIndex)
                                                    {
                                                        <a href="javascript:PagerClick(@i);">@i</a>
                                                    }
                                                    else
                                                    {
                                                        <span>@i</span>
                                                    }
                                                </div>
                                            </td>
                                        }
                                    </tr>
                                </table>
                                <input type="hidden" id="hfCurrentPageIndex" name="currentPageIndex" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- /.container-fluid -->
   
<!-- End of Content Wrapper -->
<div class="modal" tabindex="-1" id="uploadFile">
    <div class="modal-dialog modal-lg">
        <div class="modal-content border-0 rounded-0">
            <span class="close-modal" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </span>
            <div class="modal-body">
                <label class="d-block file-upload mb-3">Upload File</label>
                <div class="row">
                    <div class="col-md-9">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" onclick="this.value = null" class="custom-file-input" id="excelFile" data-ketan="" aria-describedby="inputGroupFileAddon01">
                                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <a class="btn btn-danger btn-user btn-sm" id="btnUpload">Upload</a>
                        <a href="/UserMaster/Index" class="btn bg-white border btn-user btn-sm">Cancel</a>
                    </div>
                    <a href="/Files/DownloadFile?filePath=/Imports/Samples/User/Users.xlsx" class="ml-3 mt-n2">Download Sample</a>
                    <label id="lblError" class="ml-n5 mt-5 adderror"></label>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
@Html.Partial("_CommonDeleteModal")
<script>
    var pageLength=@ViewBag.PageIndex;
    var page = @ViewBag.Page;
</script>