@model ComplaintManagement.ViewModel.UserMasterVM
@{
    ViewBag.Title = "ManageUserMaster";
}

<div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-header topbar mb-4 static-top shadow">
            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
            </button>
            <h4 class="text-white m-0">Masters</h4>
            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <form class="d-none d-sm-inline-block form-inline my-3 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 pl-30 py-2 rounded-pill" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                            <i class="fas fa-search fa-sm" id="searchIcon"></i>
                        </div>
                    </form>
                </li>
                <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                <li class="nav-item dropdown no-arrow d-sm-none">
                    <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-search fa-fw"></i>
                    </a>
                    <!-- Dropdown - Messages -->
                    <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                        <form class="form-inline mr-auto w-100 navbar-search">
                            <div class="input-group">
                                <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fas fa-search fa-sm"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>

                <!-- Nav Item - Alerts -->
                <li class="nav-item dropdown no-arrow mx-1">
                    <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-bell fa-fw text-white"></i>
                        <!-- Counter - Alerts -->
                        <span class="badge badge-danger badge-counter">3+</span>
                    </a>
                    <!-- Dropdown - Alerts -->
                    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                        <h6 class="dropdown-header">
                            Alerts Center
                        </h6>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="mr-3">
                                <div class="icon-circle bg-primary">
                                    <i class="fas fa-file-alt text-white"></i>
                                </div>
                            </div>
                            <div>
                                <div class="small text-gray-500">December 12, 2019</div>
                                <span class="font-weight-bold">A new monthly report is ready to download!</span>
                            </div>
                        </a>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="mr-3">
                                <div class="icon-circle bg-success">
                                    <i class="fas fa-donate text-white"></i>
                                </div>
                            </div>
                            <div>
                                <div class="small text-gray-500">December 7, 2019</div>
                                $290.29 has been deposited into your account!
                            </div>
                        </a>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="mr-3">
                                <div class="icon-circle bg-warning">
                                    <i class="fas fa-exclamation-triangle text-white"></i>
                                </div>
                            </div>
                            <div>
                                <div class="small text-gray-500">December 2, 2019</div>
                                Spending Alert: We've noticed unusually high spending for your account.
                            </div>
                        </a>
                        <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                    </div>
                </li>

                <div class="topbar-divider d-none d-sm-block"></div>

                <!-- Nav Item - User Information -->
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-white small">P Goswami</span>
                        <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="user-profile.html">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            Profile
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Logout
                        </a>
                    </div>
                </li>

            </ul>

        </nav>
        <!-- End of Topbar -->
        <!-- Begin Page Content -->
        <div class="container-fluid">
            <div class="page-title mb-3">
                <h2 class="text-black">Add User Master</h2>
            </div>
            <!-- Tab Bar -->
            <div class="row">
                <div class="col-xl-4 col-lg-5">
                    <div class="card shadow mb-4 rounded-0">
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="text-center form-group">
                                <i class="far fa-user-circle f-s-100 text-danger f-111"></i>
                            </div>
                            <form class="user">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.EmployeeName, new { @class = "requiredLabel" })
                                    @Html.EditorFor(model => model.EmployeeName, new { htmlAttributes = new { @class = "form-control form-control-user required" , @placeholder = "Name" } })
                                   
                                </div>
                                <div class="form-group">
                                    @Html.EditorFor(model => model.EmployeeId, new { htmlAttributes = new { @class = "form-control form-control-user required", @placeholder = "Employee ID" } })

                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0 text-center">
                                        <input type="text" class="form-control form-control-user" id="exampleFirstName">
                                        <label>Gender</label>
                                    </div>
                                    <div class="col-sm-6 text-center">
                                        <input type="text" class="form-control form-control-user" id="exampleLastName">
                                        <label>Age</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.EditorFor(model => model.WorkEmail, new { htmlAttributes = new { @class = "form-control form-control-user required", @placeholder = "Work Email" } })

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-7">
                    <div class="card shadow mb-4 rounded-0 border-0">
                        <!-- Card Body -->
                        <div class="card-body">
                            <form class="user">
                                <div class="form-group row">
                                    <div class="col-sm-4 mb-3">
                                        <label>Time Type</label>
                                        <select class="form-control">
                                            <option>Full Time</option>
                                            <option>Part Time</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        @Html.LabelFor(model => model.BusinessTitle)
                                       
                                            @{
                                                List<SelectListItem> listBusinessTitle = new List<SelectListItem>();
                                                listBusinessTitle = new List<SelectListItem>();
                                                listBusinessTitle.Add(new SelectListItem
                                                {
                                                    Text = "",
                                                    Value = ""
                                                });
                                                listBusinessTitle.AddRange(ViewBag.lstUser);
                                            }
                                           
                                                @Html.DropDownListFor(model => model.BusinessTitle, (List<SelectListItem>)listBusinessTitle, new { @class = "form-control required" })
                                          
                                            
                                    </div>
                                    <div class="col-sm-4">
                                        @Html.LabelFor(model => model.Company)

                                        @{
                                            List<SelectListItem> listCompany = new List<SelectListItem>();
                                            listCompany = new List<SelectListItem>();
                                            listCompany.Add(new SelectListItem
                                            {
                                                Text = "",
                                                Value = ""
                                            });
                                            listCompany.AddRange(ViewBag.lstEntity);
                                        }

                                        @Html.DropDownListFor(model => model.Company, (List<SelectListItem>)listCompany, new { @class = "form-control required" })

                                    </div>
                                </div>
                                <hr>
                                <div class="form-group row">
                                    <div class="col-sm-4 mb-3 mb-sm-0">
                                         @Html.LabelFor(model => model.LOSId)

                                        @{
                                            List<SelectListItem> listLOS = new List<SelectListItem>();
                                            listLOS = new List<SelectListItem>();
                                            listLOS.Add(new SelectListItem
                                            {
                                                Text = "",
                                                Value = ""
                                            });
                                            listLOS.AddRange(ViewBag.lstLOS);
                                        }

                                        @Html.DropDownListFor(model => model.LOSId, (List<SelectListItem>)listLOS, new { @class = "form-control required" })

                                    </div>
                                    <div class="col-sm-4">
                                        @Html.LabelFor(model => model.SBUId)

                                        @{
                                            List<SelectListItem> listSBU = new List<SelectListItem>();
                                            listSBU = new List<SelectListItem>();
                                            listSBU.Add(new SelectListItem
                                            {
                                                Text = "",
                                                Value = ""
                                            });
                                            listSBU.AddRange(ViewBag.lstSBU);
                                        }

                                        @Html.DropDownListFor(model => model.SBUId, (List<SelectListItem>)listSBU, new { @class = "form-control required" })

                                    </div>
                                    <div class="col-sm-4">
                                        @Html.LabelFor(model => model.SubSBUId)

                                        @{
                                            List<SelectListItem> listSubSBU = new List<SelectListItem>();
                                            listSubSBU = new List<SelectListItem>();
                                            listSubSBU.Add(new SelectListItem
                                            {
                                                Text = "",
                                                Value = ""
                                            });
                                            listSubSBU.AddRange(ViewBag.lstSBU);
                                        }

                                        @Html.DropDownListFor(model => model.SubSBUId, (List<SelectListItem>)listSubSBU, new { @class = "form-control required" })

                                    </div>
                                </div>
                                <hr>
                                <div class="form-group row">
                                    <div class="col-sm-4 mb-3 mb-sm-0">
                                        @Html.LabelFor(model => model.CompentencyId)

                                        @{
                                            List<SelectListItem> listCompentency = new List<SelectListItem>();
                                            listCompentency = new List<SelectListItem>();
                                            listCompentency.Add(new SelectListItem
                                            {
                                                Text = "",
                                                Value = ""
                                            });
                                            listCompentency.AddRange(ViewBag.lstCompetency);
                                        }

                                        @Html.DropDownListFor(model => model.CompentencyId, (List<SelectListItem>)listCompentency, new { @class = "form-control required" })

                                    </div>
                                    <div class="col-sm-4">
                                        <label>Location</label>
                                        <select class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>Region</label>
                                        <select class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group row">
                                    <div class="col-sm-4 mb-3 mb-sm-0">
                                        <label>Date of Joining</label>
                                        <input type="text" class="form-control form-control-user" id="exampleFirstName">
                                    </div>
                                    <div class="col-sm-4">
                                        <label>Mobile No.</label>
                                        <input type="text" class="form-control form-control-user" id="exampleLastName">
                                    </div>
                                    <div class="col-sm-4">
                                        <label>Manager</label>
                                        <input type="text" class="form-control form-control-user" id="exampleFirstName">
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group row">
                                    <div class="col-sm-4 mb-3 mb-sm-0">
                                        <label>Type</label>
                                        <select class="form-control"></select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card shadow mb-4 rounded-0 border-0">
                <!-- Card Body -->
                <div class="card-body text-right">
                    <a href="login.html" class="btn btn-danger">Save</a>
                    <a href="login.html" class="btn btn-white border">Cancel</a>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->
</div>
<!-- End of Content Wrapper -->

