@using ComplaintManagement.Helpers
@model ComplaintManagement.ViewModel.DashboardVM
@{
    var user = ""; var userImage = string.Empty;
    int userId = 0; string userRole = string.Empty;
    var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;
    ViewBag.Title = "Home Page";
    ViewBag.heading = "Dashboard";

    if (claimsIdentity != null)
    {
        var c = claimsIdentity.FindFirst(System.Security.Claims.ClaimTypes.Name);
        var cI = claimsIdentity.FindFirst(System.Security.Claims.ClaimTypes.UserData);
        var userIDInfo = claimsIdentity.FindFirst(System.Security.Claims.ClaimTypes.Sid);
        var userRoleInfo = claimsIdentity.FindFirst(System.Security.Claims.ClaimTypes.Role);

        if (c != null && cI != null && userIDInfo != null && userRoleInfo != null)
        {
            userRole = userRoleInfo.Value;
            user = c.Value.ToString();
            userImage = cI.Value.ToString();
            userId = Convert.ToInt32(userIDInfo.Value.ToString());
        }
    }
    var DueComplaints = Model.DueComplaints;
    var OverDueComplaints = Model.OverDueComplaints;
    var AwaitingComplaints = Model.AwaitingComplaints;
}
<link href="~/Content/fSelect.css" rel="stylesheet" type="text/css" />
@*<script src="~/Scripts/vendor/datepicker/bootstrap-datepicker.js"></script>*@
@*<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet"/>*@
@Html.Hidden("Role", userRole)
<div class="container-fluid">
    <div class="page-title mb-3">
        <h2 class="text-black">Overview</h2>
    </div>
    <div class="card mb-4 rounded-0 border-0">
        <div class="card-body text-black">
            <div class="row">
                @if (userRole != "Lead")
                {
                    <div class="col-md-4 text-center">

                        @*<h2 class="font-weight-bold" id="dueComplaintsCount">@Model.DueComplaints</h2>*@


                        @if (DueComplaints > 0)
                        {
                            <a onclick="getDueComplaints()" id="dueComplaintPopup" data-toggle="modal" class="text-dark btn border-0 p-0">
                                <h2 class="font-weight-bold" id="dueComplaintsCount">@Model.DueComplaints</h2>
                                <strong>Due Complaints</strong>
                            </a>
                        }
                        else
                        {
                            <a id="dueComplaintPopup" data-toggle="modal" class="text-dark btn border-0 p-0">
                                <h2 class="font-weight-bold" id="dueComplaintsCount">@Model.DueComplaints</h2>
                                <strong>Due Complaints</strong>
                            </a>
                        }


                    </div>

                    <div class="col-md-4 text-center">
                        @{
                            if (OverDueComplaints > 0)
                            {
                                <a onclick="getOverDueComplaints()" id="OverDueComplaintPopup" data-toggle="modal" class="text-dark btn border-0 p-0"><h2 class="font-weight-bold" id="OverDueComplaintsCount">@Model.OverDueComplaints</h2><strong>Overdue Complaints</strong></a>
                            }
                            else
                            {
                                <a id="OverDueComplaintPopup" data-toggle="modal" class="text-dark btn border-0 p-0"><h2 class="font-weight-bold" id="OverDueComplaintsCount">@Model.OverDueComplaints</h2><strong>Overdue Complaints</strong></a>
                            }
                        }
                    </div>
                    <div class="col-md-4 text-center">
                        @{
                            if (AwaitingComplaints > 0)
                            {
                                <a id="awaitingComplaint" onclick="getAwaitingComplaint()" class="text-dark btn border-0 p-0"><h2 class="font-weight-bold" id="AwaitingComplaintsCount">@Model.AwaitingComplaints</h2><strong>Awaiting My Approval Complaints</strong></a>
                            }
                            else
                            {
                                <a id="awaitingComplaint" class="text-dark btn border-0 p-0"><h2 class="font-weight-bold" id="AwaitingComplaintsCount">@Model.AwaitingComplaints</h2><strong>Awaiting My Approval Complaints</strong></a>
                            }
                        }
                    </div>
                }

                else if (userRole == "Lead")
                {



                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="col-md-12">


                                    <a onclick="CaseType()" style="margin-left:10%" id="OverDueComplaintPopup" data-toggle="modal" class="text-dark btn border-0 p-0"><h2 class="font-weight-bold" id="OverDueComplaintsCount">@Model.Inprogress</h2><strong>In Progress</strong></a>

                                    <a onclick="CaseTyped()" style="margin-left:30%" id="OverDueComplaintPopup" data-toggle="modal" class="text-dark btn border-0 p-0"><h2 class="font-weight-bold" id="OverDueComplaintsCount">@Model.Completed</h2><strong>Completed</strong></a>

                                    @*<input type="date" id="fromDate" value="@ViewBag.startDate" class="form-control" placeholder="From Date" />*@
                                </div>
                            </div>



                        </div>
                    </div>




                }

            </div>

        </div>
    </div>
    <div class="card mb-4 rounded-0 border-0 divHideShow" style="display:none;">
        <div class="card-body py-2">
            <div class="ow justify-content-between">
                <div class="col-md-12">
                    <ul class="nav">
                        <li class="nav-item mr-3">
                            <select name="ddlChart" id="ddlChart" class="form-control">
                                <option value="default">Default</option>
                                <option value="comparison">Comparison</option>
                            </select>
                        </li>
                        <li class="nav-item mr-3">
                            <select name="ddlChart" id="ddlCharted" class="form-control">
                                <option value="numbers" selected>Numbers Wise</option>
                                <option value="percentage">Percentage Wise</option>
                            </select>
                        </li>
                        <li class="nav-item mr-3">
                            <input type="text" id="txt_dateFrom" class="form-control" placeholder="From Date" />
                        </li>
                        <li class="nav-item mr-3">
                            <input type="text" id="txt_dateTo" class="form-control" placeholder="To Date" />
                        </li>
                        <li class="nav-item mr-3">
                            <button type="submit" id="btn_dataSearch" class="btn btn-danger rounded-circle h-40p w-40p d-flex align-items-center" data-toggle="tooltip" data-placement="top" title="Search"><i class="fas fa-search"></i></button>
                        </li>
                        <li class="nav-item mr-3">
                            <button type="submit" id="btn_chartToImage" class="btn btn-danger rounded-circle h-40p w-40p d-flex align-items-center" data-toggle="tooltip" data-placement="top" title="Ppt"><i class="fas fa-file-powerpoint"></i></button>
                        </li>
                        <li class="nav-item mr-3">
                            <button type="submit" id="btn_sendMail" class="btn btn-danger rounded-circle h-40p w-40p d-flex align-items-center" data-toggle="tooltip" data-placement="top" title="Email"><i class="fa fa-envelope" aria-hidden="true"></i></button>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <!-- Tab Bar -->
    <div class="user-list divHideShow" id="divPieChart" style="display:none;">
        <div class="row">
            <div class="col-xl-6 col-lg-6" id="divCaseTypeChart">
                <div class="card mb-4 rounded-0 border-0">
                    <div class="card-header">
                        <span class="text-success">Case Type</span>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <canvas id="caseTypeChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6" id="divCategoryChart">
                <div class="card mb-4 rounded-0 border-0">
                    <div class="card-header">
                        <span class="text-success">Category wise</span>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <canvas id="categoryChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6" id="divSubCategoryChart">
                <div class="card mb-4 rounded-0 border-0">
                    <div class="card-header">
                        <span class="text-success">Sub-Category wise</span>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <canvas id="subCategoryChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6" id="divRegionChart">
                <div class="card mb-4 rounded-0 border-0">
                    <div class="card-header">
                        <span class="text-success">Region wise</span>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <canvas id="regionChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6" id="divOfficeChart">
                <div class="card mb-4 rounded-0 border-0">
                    <div class="card-header">
                        <span class="text-success">Office wise</span>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <canvas id="officeChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6" id="divLosChart">
                <div class="card mb-4 rounded-0 border-0">
                    <div class="card-header">
                        <span class="text-success">LOS wise</span>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <canvas id="losChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6" id="divSbuChart">
                <div class="card mb-4 rounded-0 border-0">
                    <div class="card-header">
                        <span class="text-success">SBU wise</span>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <canvas id="sbuChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6" id="divSubSBUChart">
                <div class="card mb-4 rounded-0 border-0">
                    <div class="card-header">
                        <span class="text-success">Sub-SBU wise</span>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <canvas id="subSBUChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6" id="divGenderOfComplainantChart">
                <div class="card mb-4 rounded-0 border-0">
                    <div class="card-header">
                        <span class="text-success">
                            Gender of Complainant
                        </span>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <canvas id="genderOfComplainantChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6" id="divGenderOfRespondentChart">
                <div class="card mb-4 rounded-0 border-0">
                    <div class="card-header">
                        <span class="text-success">
                            Gender of Respondent
                        </span>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <canvas id="genderOfRespondentChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6" id="divDesignationOfComplainantChart">
                <div class="card mb-4 rounded-0 border-0">
                    <div class="card-header">
                        <span class="text-success">
                            Designation of Complainant
                        </span>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <canvas id="designationOfComplainantChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6" id="divDesignationOfRespondentChart">
                <div class="card mb-4 rounded-0 border-0">
                    <div class="card-header">
                        <span class="text-success">
                            Designation of Respondent
                        </span>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <canvas id="designationOfRespondentChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6" id="divModeofComplaintChart">
                <div class="card mb-4 rounded-0 border-0">
                    <div class="card-header">
                        <span class="text-success">
                            Mode of Complaint
                        </span>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <canvas id="modeofComplaintChart"></canvas>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-lg-6" id="divAgeingChart">
                <div class="card mb-4 rounded-0 border-0">
                    <div class="card-header">
                        <span class="text-success">
                            Ageing/Case Closure
                        </span>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <canvas id="ageingChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalPopUp" role="dialog" style="width:100%">
    <div class="modal-dialog err-pop">
        <div class="modal-content" style="width:700px;height:300px">
            <div class="modal-header" style="background-color:#ff6a00">
                <span style="text-align:center">Send Email</span>
                <button id="DivClose" type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div>
                    <table style="margin-top:10px;width:100%" cellpadding="10" cellspacing="10">
                        <tr>
                            <td>
                                <label>Involved Users</label>
                            </td>
                            <td>
                                @{
                                    List<SelectListItem> listUser = new List<SelectListItem>();
                                    listUser = new List<SelectListItem>();
                                    listUser.Add(new SelectListItem
                                    {
                                        Text = "",
                                        Value = ""
                                    });
                                    listUser.AddRange(ViewBag.lstUser);
                                }
                                @Html.DropDownList("InvolvedUserId", (List<SelectListItem>)listUser, new { @class = "form-control multiselect required", multiple = "multiple" })

                            </td>
                        </tr>
                        <tr>
                            <td>
                                Comment
                            </td>
                            <td>
                                @Html.TextArea("Comment", new { @class = "form-control comment", @style = "Border-radius:2%" })
                            </td>
                        </tr>

                    </table>
                </div>
                <hr />
                <button type="button" class="btn btn-primary" id="sendemail">Send Mail</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/fSelect.js"></script>
@Scripts.Render("~/plugins/Chart")
@Scripts.Render("~/Assets/EmployeeComplaintDashboard")
@Html.Partial("_ComplaintAwaiting")
@Html.Partial("_ComplaintDue")
@Html.Partial("_ComplaintOverDue")
@Html.Partial("_CaseType")
@Html.Partial("_ComplaintHistoryContent")
@Html.Partial("_DashboardChartTable")
@Html.Partial("_GetHistory")
<script>

    function filterXOLReportGrid() {
        var fromDate = $("#fromDate").val(); var toDate = $("#toDate").val();
        //var losid = $(".losval option:selected").val();
        //var types = $("#CaseType").val();
        var typevalues = $("#typevalues").val();
        if (fromDate == "" || toDate == "" || typevalues == "") {
            funToastr(false, "Please select from and to date and a types and a values"); return;
        }
        else {

            if ($("#hfCurrentPageIndex").val() == "") {
                $("#hfCurrentPageIndex").val("1");
            }
            location.href = '/Home/GetCaseTypes?currentPage= ' + $("#hfCurrentPageIndex").val() + '&range=' + fromDate + ',' + toDate + '&typevalues=' + typevalues + '&currentPage=' + $("#hfCurrentPageIndex").val();
        }
    }
    function exportXolReport() {
        var fromDate = $("#fromDate").val(); var toDate = $("#toDate").val();
        var losid = $(".losval option:selected").val();
        var types = $("#CaseType").val();
        var typevalues = $("#typevalues").val();
        if (fromDate == "" || toDate == "" && types == "" && typevalues == "") {
            funToastr(false, "Please select from and to date and a types and a values"); return;
        }
        else {

            if ($("#hfCurrentPageIndex").val() == "") {
                $("#hfCurrentPageIndex").val("1");
            }
            location.href = '/LOS/ExportLDataLOSReport2?range=' + fromDate + ',' + toDate + '&types=' + "CaseType" + '&typevalues=' + typevalues + '&currentPage=' + $("#hfCurrentPageIndex").val();
        }
    }
    function PagerClick(index) {
        $("#hfCurrentPageIndex").val(index);
        var fromDate = $("#fromDate").val() != undefined ? $("#fromDate").val() : ""; var toDate = $("#toDate").val() == undefined ? "" : $("#toDate").val();

        var typevalues = $("#typevalues").val();

        var range = "";
        if (fromDate !== "" && toDate !== "") {
            range = fromDate + ',' + toDate;
        }
        if ($("#history").val() == undefined) {
            location.href = '/Home/GetCaseTypes?currentPage= ' + $("#hfCurrentPageIndex").val() + '&range=' + fromDate + ',' + toDate + '&typevalues=' + typevalues;

        }
        else {
            location.href = '/Home/GetCaseTypes?currentPage = ' + $("#hfCurrentPageIndex").val() + '&range=' + fromDate + ',' + toDate + '&typevalues=' + typevalues;
        }
    }
    function getHistory(id) {
        if (id !== "") {
            var url = "/Home/GetHistoryByComplaint?ComplaintId=" + id;
            $("#historyContent").load(url, function () {
                $("#historyModal").modal("show");
            })
        }
    }
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>