@using ComplaintManagement.Helpers
@model ComplaintManagement.ViewModel.DashboardVM
@{
    var user = ""; var userImage = string.Empty;
    int userId = 0; string userRole = string.Empty;
    var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;
    ViewBag.Title = "Home Page";

    if (claimsIdentity != null)
    {
        var c = claimsIdentity.FindFirst(System.Security.Claims.ClaimTypes.Name);
        var cI = claimsIdentity.FindFirst(System.Security.Claims.ClaimTypes.UserData);
        var userIDInfo = claimsIdentity.FindFirst(System.Security.Claims.ClaimTypes.Sid);
        var userRoleInfo = claimsIdentity.FindFirst(System.Security.Claims.ClaimTypes.Role);

        if (c != null && cI != null && userIDInfo != null && userRoleInfo != null)
        {
            userRole = userRoleInfo.Value;
            user = c.Value.ToString();
            userImage = cI.Value.ToString();
            userId = Convert.ToInt32(userIDInfo.Value.ToString());
        }
    }
    var DueComplaints = Model.DueComplaints;
    var OverDueComplaints = Model.OverDueComplaints;
    var AwaitingComplaints = Model.AwaitingComplaints;
}
    @Html.Hidden("Role", userRole)
        <div class="container-fluid">
            <div class="page-title mb-3">
                <h2 class="text-black">Overview</h2>
            </div>
            <div class="card mb-4 rounded-0 border-0">
                <div class="card-body text-black">
                    <div class="row">
                        <div class="col-md-4 text-center">
                            @*<h2 class="font-weight-bold" id="dueComplaintsCount">@Model.DueComplaints</h2>*@
                            @{

                                if (DueComplaints > 0)
                                {
                                    <a onclick="getDueComplaints()" id="dueComplaintPopup" data-toggle="modal" class="text-dark btn border-0 p-0">
                                        <h2 class="font-weight-bold" id="dueComplaintsCount">@Model.DueComplaints</h2>
                                        <strong>Due Complaints</strong>
                                    </a>
                                }
                                else
                                {
                                    <a id="dueComplaintPopup" data-toggle="modal" class="text-dark btn border-0 p-0">
                                        <h2 class="font-weight-bold" id="dueComplaintsCount">@Model.DueComplaints</h2>
                                        <strong>Due Complaints</strong>
                                    </a>
                                }
                            }

                        </div>
                        <div class="col-md-4 text-center">
                            @{
                                if (OverDueComplaints > 0)
                                {
                                    <a onclick="getOverDueComplaints()" id="OverDueComplaintPopup" data-toggle="modal" class="text-dark btn border-0 p-0"><h2 class="font-weight-bold" id="OverDueComplaintsCount">@Model.OverDueComplaints</h2><strong>Overdue Complaints</strong></a>
                                }
                                else
                                {
                                    <a id="OverDueComplaintPopup" data-toggle="modal" class="text-dark btn border-0 p-0"><h2 class="font-weight-bold" id="OverDueComplaintsCount">@Model.OverDueComplaints</h2><strong>Overdue Complaints</strong></a>
                                }
                            }
                        </div>
                        <div class="col-md-4 text-center">
                            @{
                                if (AwaitingComplaints > 0)
                                {
                                    <a id="awaitingComplaint" onclick="getAwaitingComplaint()" class="text-dark btn border-0 p-0"><h2 class="font-weight-bold" id="AwaitingComplaintsCount">@Model.AwaitingComplaints</h2><strong>Awaiting My Approval Complaints</strong></a>
                                }
                                else
                                {
                                    <a id="awaitingComplaint" class="text-dark btn border-0 p-0"><h2 class="font-weight-bold" id="AwaitingComplaintsCount">@Model.AwaitingComplaints</h2><strong>Awaiting My Approval Complaints</strong></a>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="card mb-4 rounded-0 border-0">
                    <div class="card-body py-2">
                        <div class="ow justify-content-between">
                            <div class="col-md-10">
                                <ul class="nav">
                                    <li class="nav-item mr-3">
                                        <input type="text" class="form-control" placeholder="From Date" />
                                    </li>
                                    <li class="nav-item mr-3">
                                        <input type="text" class="form-control" placeholder="To Date" />
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-2">
                                <ul class="nav justify-content-end">
                                    <li class="nav-item">
                                        <button type="submit" class="btn btn-danger rounded-circle h-40p w-40p d-flex align-items-center"><i class="fas fa-search"></i></button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>*@
            <!-- Tab Bar -->
            <div class="user-list">
                <div class="row">
                    <div class="col-xl-6 col-lg-6">
                        <div class="card mb-4 rounded-0 border-0">
                            <div class="card-header">
                                <span class="text-success">Category wise</span>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <canvas id="categoryChart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="card mb-4 rounded-0 border-0">
                            <div class="card-header">
                                <span class="text-success">Sub-Category wise</span>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <canvas id="subcategoryChart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="card mb-4 rounded-0 border-0">
                            <div class="card-header">
                                <span class="text-success">LOS wise</span>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <canvas id="losChart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="card mb-4 rounded-0 border-0">
                            <div class="card-header">
                                <span class="text-success">Overall Status wise</span>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <canvas id="overallChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
@Scripts.Render("~/plugins/Chart")
@Scripts.Render("~/Assets/EmployeeComplaintDashboard")

@*<div class="modal" id="dueComplaints">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-black font-weight-bold">Due Complaints</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>*@

@*<div class="modal" id="overdueComplaints">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-black font-weight-bold">Overdue Complaints</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table f-14">
                            <thead>
                                <tr>
                                    <td>LOS</td>
                                    <td>Category</td>
                                    <td>Sub-Category</td>
                                    <td>Created By</td>
                                    <td>Created On</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-black"><strong>LOS-27Test1</strong></td>
                                    <td class="text-black"><strong>test22222</strong></td>
                                    <td class="text-black"><strong>29NoVSUb1zxxc</strong></td>
                                    <td class="text-black"><strong>29/11/2020</strong></td>
                                    <td class="text-black"><strong>29/11/2020</strong></td>
                                </tr>
                                <tr>
                                    <td class="text-black"><strong>LOS-27Test1</strong></td>
                                    <td class="text-black"><strong>test22222</strong></td>
                                    <td class="text-black"><strong>29NoVSUb1zxxc</strong></td>
                                    <td class="text-black"><strong>29/11/2020</strong></td>
                                    <td class="text-black"><strong>29/11/2020</strong></td>
                                </tr>
                                <tr>
                                    <td class="text-black"><strong>LOS-27Test1</strong></td>
                                    <td class="text-black"><strong>test22222</strong></td>
                                    <td class="text-black"><strong>29NoVSUb1zxxc</strong></td>
                                    <td class="text-black"><strong>29/11/2020</strong></td>
                                    <td class="text-black"><strong>29/11/2020</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

@Html.Partial("_ComplaintAwaiting")
@Html.Partial("_ComplaintDue")
@Html.Partial("_ComplaintOverDue")