@using ComplaintManagement.Helpers

    @foreach (var item in ViewBag.lstEmployeeComplaint)
    {
        <tr>
            <td class="text-black text-center"><strong>@item.EmployeeName</strong></td>
            <td class="text-black text-center"><strong>@item.CategoryName</strong></td>
            <td class="text-black text-center"><strong>@item.SubCategoryName</strong></td>
            <td class="text-black text-center"><strong>@item.CreatedDate.ToString("dd/MM/yyyy").Replace("-", "/")</strong></td>
            <td class="text-black text-center"><strong>@item.CreatedByName</strong></td>
            <td class="text-black text-center">
                <strong>
                    @if (item.UpdatedDate != null)
                    {
                        @Html.Raw(item.UpdatedDate.ToString("dd/MM/yyyy").Replace("-", "/"))
                    }
                    else
                    {
                        @Html.Raw(Messages.NotAvailable.ToString())
                    }
                </strong>
            </td>
            <td class="text-black text-center"><strong>@item.UpdatedByName</strong></td>
            <td class="text-black text-center"><strong>@item.Remark</strong></td>
            <td class="text-black text-center">
                <strong>
                    @item.ComplaintStatus
                </strong>
            </td>
            <td class="text-black text-center">
                @if (!string.IsNullOrEmpty(item.Attachments) && item.Attachments.Length > 0)
                {
                    <strong>
                        <a  href="/Employee/DownloadAttachments?files=@item.Attachments">
                            <i class="fas fa-download fa-fw"></i>
                        </a>
                    </strong>
                }
                else
                {
                    @Html.Raw(Messages.NotAvailable.ToString())
                }

            </td>


            <td class="text-center text-nowrap">
                <a href="javascript:void(0)" onclick="performAction('@item.Id',false)" data-id="@item.Id" class="mr-2"><i class="fas fa-edit text-danger"></i></a>
                <a href="javascript:void(0)" onclick="deleteEmployeeCompliant('@item.Id')" data-id="@item.Id" class="mr-2"><i class="fas fa-trash-alt text-danger"></i></a>
                <a href="#"><i class="fas fa-clock text-danger"></i></a>
            </td>
        </tr>
    }
